// Generals

@import "partials/default";
@import "partials/utilities";
@import "partials/variables";

// Section
@import "partials/header";
@import "partials/footer";
@import "partials/comics-section";
@import "partials/comic-details";
@import "partials/news";