//Text

//Colors

$primary-col: #ffffff;
$secondary-col: #1d81f3;
$black: #000000;
$lightblue: #01a8da;
$lightgreen: #55ba59;
$lightgreen-txt: #acf58d;

$white-bg: #ffffff;
$black-bg: #1c1c1c;
$gray-bg: #303030;